<h2>Party</h2>
<ul class="heroes">
<!--
  <li *ngFor="let hero of heroes" [ngStyle]="{
    'listStyleImage': 'url(assets/class_symbols/' + hero.class + '.png',
    'padding': 'auto'
  }">
-->

    <li *ngFor="let hero of heroes">
      <img src="{{'assets/class_symbols/' + hero.class + '.png'}}" width="42px" height="42px" title="{{hero.class}}">
    <button type="button" [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
      <span class="name">{{hero.nickname}}</span>
    </button>
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>


